.button-container{
  margin: 10px 0 0 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.button-list{
  width: 7%;
  height: 100%;
  margin-top: 2%;
  background-color: transparent;
  border-color: transparent;
}
.more{
  margin-right: 25%;
  margin: 0 25% 0 0;
}

.less{
  margin-right: 2%;
  margin: 0 2% 0 0;
}

.button-list i {
 font-size: xx-large;
}

@media(max-width:490px){
  .button-container{
    width: 50%;
    justify-content: space-evenly;
  }
  .more{
    margin: 0;
  }
  .less{
    margin: 0;
  }

}
