.new-contact{
  display: flex;
  flex-direction:row;
  height: 90%;
  width: 100%;
  cursor: pointer;
}
.form{
  margin-top: 1.3%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 50%;
}
.form label {
  margin-top: 3%;
  margin-left: 5%;
  top: -12px;
  font-size: 15px;
  color: #333333;
  font-family: "Playwrite US Modern", cursive;
  height: 10%;
  width: 30%;


}
.form input {
  background-color: rgb(0, 0, 0, 0);
  margin-top: 2%;
  margin-left: 5%;
  width: 75%;
  height: 20%;
  padding: 12px;
  border: 1px solid #a8d1cc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  font-family: "Playwrite US Modern", cursive;
}
.form input:focus {
    outline: none;
    border-color: #87c2c2;
}
.controls-create{
  height: 20%;
  margin-top: 3%;
  display: flex;
  justify-content: end;
}
.controls-create a{
  width: 10%;
  margin-right: 2%;
}
.return {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  height: 100%;
}
.return i {
  font-size:xx-large;
  color: #56706f;
}
.save{
  background-color: transparent;
  border-color: transparent;
  margin-right: 15%;
  margin-left: 2%;
  width: 10%;
}
.save i {
  font-size:xx-large;
  color: #56706f;
}

.maps{
  background-color: aliceblue;
  margin-top: 6%;
  margin-right: 5%;
  width: 50%;
  height: 80%;
}
.erro-validation{
  width: 30%;
  height: 5%;
  margin-left: 6%;
}
.erro-validation h5 {
  margin: 0%;
  margin-top: 5%;
  color: rgb(226, 70, 70);
  font-size: x-small;
}


